<ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf="add">
        Agregar usuario preferente
      </div>
      <div *ngIf="!add">
        Editar usuario preferente
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.lastname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Placas del auto</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.carplates"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Marca del automovil</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.brand"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.model"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.year"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input type="text" [(ngModel)]="prUser.color"></ion-input>
      </ion-item>
</ion-card>
  <ion-item *ngIf="add">
    <div >
      <button ion-button color="primary" (click)="saveOnFirebase()"> Guardar</button>
    </div>
  </ion-item>
  <ion-item *ngIf="!add">
    <div >
      <button ion-button color="secondary" (click)="updateOnFirebase()"> Editar</button>
    </div>
  </ion-item>

</ion-content>
